.portal
    #toggle.button-container(ng-click='openNav()')
        span(ng-class='{top_active:topactive}')
        span(ng-class='{middle_active:middleactive}')
        span(ng-class='{bottom_active:bottomactive}')
    #overlay(ng-class='{overlay:onclose,overlay_open:onopen}')
        nav
            ul
                li
                    a(ng-click='goSignin()') Sign in
                li
                    a(href='#') Sign up
                li
                    a(ng-click='goSearch()') Search

    // Start page content
    header.container-fluid.intro-lg.uppercase.bkg
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2
            h1#title.animated.rubberBand TipsTravel.
            h3#sub.animated.bounceInLeft {{ tips }}
            form.form-signin(
                name='registerForm'
            )
                label.sr-only(for='inputEmail') Email address
                input.form-control(
                  ng-model='email'
                  type='email'
                  placeholder='Email address'
                  required=''
                  autofocus=''
                  )
                label.sr-only(for='inputUsername') Username
                input.form-control(
                  type='text'
                  placeholder='Username'
                  required=''
                  ng-model='username'
                  ng-minlength = '6'
                  )
                label.sr-only(for='inputPassword') Password
                input.form-control(
                  type='password'
                  placeholder='Password'
                  required=''
                  ng-model='password'
                  ng-minlength='6'
                  )
                p.registerInfo {{ errorInfo }}
                button.btn.btn-lg.btn-primary.btn-block(
                  ng-click='signup()'
                  ) Sign up

    .expertise
      .row
        .col-lg-12
          h2.uppercase What is TipsTravel.
          .divider
      .container.expertise
        .col-xs-10.col-xs-offset-2.col-md-10.col-centered
          .row
            .col-xs-12.col-sm-4.col-md-4.wow.fadeIn
              img(src='../../styles/img/pic1.jpg', alt='pic1')
              h4.uppercase Balbala
              .divider-small
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .col-xs-12.col-sm-4.col-md-4.wow.fadeIn
              img(src='../../styles/img/pic2.jpg', alt='pic2')
              h4.uppercase Balabala
              .divider-small
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .col-xs-12.col-sm-4.col-md-4.wow.fadeIn
              img(src='../../styles/img/pic3.jpg', alt='pic3')
              h4.uppercase Balabala
              .divider-small
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    .container-fluid.other
      .col.xs-12.col-md-8.col-md-offset-2
        h3.text-center.uppercase To be continued
        .divider
        .row
          .col-xs-12.col-md-6
            .grid.wow.fadeInLeftSmall
              a(href='paul.php')
                figure.grid-item
                  img(src='../../styles/img/pic4.jpg', alt='Personal Brand')
                  figcaption
                    h2 dota2
                    p gg well play
          .col-xs-12.col-md-6
            .grid.wow.fadeInRightSmall
              a(href='#', target='_blank', title='Curve Icon Set (WIP) on Dribbble')
                figure.grid-item
                  img(src='../../styles/img/pic5.jpg', alt='Curve Icon Set (WIP) on Dribbble')
                  figcaption.dribbble
                    h2 What does the fox say
                    p ding ding ding ding
          .col-xs-12.text-center
            a.btn.btn-custom(href='portfolio.php')
              | Haha 
              span.fa.fa-chevron-right


    // Footer
    footer
      p
        | Made in Tongji
      p © 2015 John Bryant. All rights reserved.