.portal
    #toggle.button-container(ng-click='openNav()')
        span(ng-class='{top_active:topactive}')
        span(ng-class='{middle_active:middleactive}')
        span(ng-class='{bottom_active:bottomactive}')
    #overlay(ng-class='{overlay:onclose,overlay_open:onopen}')
        nav
            ul
                li
                    a(ng-click='goSignin()') Sign in
                li
                    a(href='#') Sign up
                li
                    a(ng-click='goSearch()') Search

    // Start page content
    header.container-fluid.intro-lg.uppercase.bkg
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2
            h1#title.animated.rubberBand {{ webname }}
            h3#sub.animated.bounceInLeft {{ tips }}
            form.form-signin(
                name='registerForm'
            )
                label.sr-only(for='inputEmail') Email address
                input.form-control(
                  ng-model='Inemail'
                  type='email'
                  placeholder='Email address'
                  required=''
                  autofocus=''
                  )
                label.sr-only(for='inputUsername') Username
                input.form-control(
                    ng-model='Inusername'
                    type='text'
                    placeholder='Username'
                    required=''
                    )
                label.sr-only(for='inputPassword') Password
                input.form-control(
                    ng-model='Inpassword'
                    type='password'
                    placeholder='Password'
                    required=''
                    )
                p.registerInfo {{ errorInfo }}
                button.btn.btn-lg.btn-primary.btn-block(
                    ng-click='signup()'
                    ) Sign up

    .expertise
      .row
        .col-lg-12
          h2.uppercase Introduction
          .divider
      .container.expertise
        .col-xs-10.col-xs-offset-2.col-md-10.col-centered
          .row
            .col-xs-12.col-sm-4.col-md-4.wow.fadeIn
              img(src='../../styles/img/pic1.jpg', alt='pic1')
              h4.uppercase What is IPicYou 
              .divider-small
              p
                | IPicYou是一款基于兴趣为基础的图片分享社交网站。在移动互联网时代，照片是一个最快速，简单分享的工具，所以IPicYou主要为用户提供优质的图片资源，最前沿的时尚，旅游，摄影，美食，音乐等信息，通过每张图片特有的标签赋予图片新的属性和功能。只要注册登录，在IPicU上，你就能通过多种多样的标签找到自己喜欢和感兴趣的话题，找到志同道合的朋友，和他们一起在IPicU上分享多姿多彩的生活，iPicU欢迎你的加入！
            .col-xs-12.col-sm-4.col-md-4.wow.fadeIn
              img(src='../../styles/img/pic2.jpg', alt='pic2')
              h4.uppercase How to Use IPicYou
              .divider-small
              p
                | 无论你是喜欢摄影、设计、时装、美食、音乐、建筑甚至是游戏，你都可以在IPicU中发现合自己胃口的图片；你也可以按类别浏览照片，还可以查看其所属的张贴版及上传照片的作者；关注该作者，你可以在每次登陆后都看到其作品的最新更新。操作过程十分流畅，页面的加载速度很快，并且可以无限的向下滚动。所有的照片都可以点赞，也可以将照片下载。上传照片时你需要标注照片所属于的标签，我们鼓励用户新增个性化标签，丰富我们的标签库。通过搜索界面，你可以通过输入标签，找到所有属于这一标签的图片和作者。
            .col-xs-12.col-sm-4.col-md-4.wow.fadeIn
              img(src='../../styles/img/pic3.jpg', alt='pic3')
              h4.uppercase About us
              .divider-small
              p
                | IPicYou的所有开发人员都执著于开发出更完美更时尚的设计产品；
              p
                | IPicYou年轻充满活力的团队拥有永无止境的热情和创新热情；
              p
                | IPicYou致力于从细节入手，为用户提供更好的用户体验和感受；
              p
                | IPicYou欢迎所有热爱生活，热爱图片分享的朋友为我们提出宝贵意见！


    .container-fluid.other
      .col.xs-12.col-md-8.col-md-offset-2
        h3.text-center.uppercase To be continued
        .divider
        .row
          .col-xs-12.col-md-6
            .grid.wow.fadeInLeftSmall
              a(href='paul.php')
                figure.grid-item
                  img(src='../../styles/img/pic4.jpg', alt='Personal Brand')
                  figcaption
                    p 一个人，一条路，人在途中，心随景动，从起点，到尽头，也许快乐，或有时孤独，如果心在远方，只需勇敢前行，梦想自会引路，有多远，走多远，把足迹连成生命线。
          .col-xs-12.col-md-6
            .grid.wow.fadeInRightSmall
              a(href='#', target='_blank', title='Curve Icon Set (WIP) on Dribbble')
                figure.grid-item
                  img(src='../../styles/img/pic5.jpg', alt='Curve Icon Set (WIP) on Dribbble')
                  figcaption.dribbble
                    p 我们一直在旅行，一直在等待某个人可以成为我们旅途的伴侣，陪我们走过一段别人无法替代的记忆。在那里，有我们特有的记忆，亲情之忆、友谊之花、爱情之树、以及遗憾之泪！
          .col-xs-12.text-center
            a.btn.btn-custom(href='portfolio.php')
              | IPicYou. 
              span.fa.fa-chevron-right


    // Footer
    footer
      p
        | Made in Tongji
      p © 2015 John Bryant. All rights reserved.
