nav.navbar.navbar-default(
ng-controller='navbarCtrl'
)
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      a.navbar-brand(href='dashboard') IPicYou.
      form.navbar-form.navbar-left(role='search')
        .form-group
          input.form-control(type='text', placeholder='Search' ng-model='tag_name')
        button.btn.btn-default(type='submit' ng-click='goSearch()') Go
        button.btn.btn-default(ng-click='goTopic()') Topics
      ul.nav.navbar-nav.navbar-right
        li.img_btn
          a(href='dashboard'
            title='dashboard')
            img(src='styles/img/navbar_dashboard.png')
        li.img_btn
          a(href='search'
            title='search')
            img(src='styles/img/navbar_search.png')
        li.img_btn
          a(href='personPage'
            title='my home')
            img(src='styles/img/navbar_person.png')
        li.img_btn
          a(href='personSetting'
            title='setting')
            img(src='styles/img/navbar_setting.png')
        li.img_btn
          a(ng-click='goExit()'
            title='exit'
            style='cursor:pointer'
            )
            img(src='styles/img/navbar_exit.png')
//Created by John on 2015/5/16.

