.dashboard
  //导航栏
  #toggle.button-container(ng-click='opendNav()')
    span(ng-class='{top_active:topactive}')
    span(ng-class='{middle_active:middleactive}')
    span(ng-class='{bottom_active:bottomactive}')
  #overlay(ng-class='{overlay:onclose,overlay_open:onopen}')
    nav
      ul
        li
          a Sign in
        li
          a Sign up
        li
          a Search


  //内容框架
  .container-fluid
    .row-fluid
      //左侧栏
      .col-md-2

      .col-md-6
        .left_column
          //新建tip框
          .new_tip_container
            a.user_avatar
              img(src='styles/img/avatar4.jpg')
            nav.new_tip_buttons
              a.new_tip_label
                i.icon_tip_text
                span.new_tip_label_text Text
              a.new_tip_label
                i.icon_tip_photo
                span.new_tip_label_text Photo
              a.new_tip_label
                i.icon_tip_link
                span.new_tip_label_text Link
              a.new_tip_label
                i.icon_tip_audio
                span.new_tip_label_text Audio
              a.new_tip_label
                i.icon_tip_video
                span.new_tip_label_text Video


          //好友tips
          .tips_container(
          infinite-scroll='reddit.nextPage()'
          infinite-scroll-disabled='reddit.busy'
          infinite-scroll-distance='3'

          )
            ul.tips_timeline(
            ng-repeat= "tip in reddit.items"
            )
              li
                time.tips_time
                  span 4/30/15
                  span 18:30
                .tips_id
                  .tips_user_avatar
                    img(ng-src="{{BaseURL}}{{tip.user.avatar}}",alt='Avatar')
                .tips_icon.tips_icon-phone
                .tips_label
                  a.tips_username
                    h5 {{tip.user.username}}
                  img.tips_image(ng-src="{{BaseURL}}{{tip.image}}")
                  p.tips_text {{tip.context}}
                  a.tips_tag( 
                  ng-repeat= "tag in tip.tag_message" 
                  )       #'{{tag.tag.tag_name}}'
                  .blank_content
          .loading(
          ng-show='reddit.busy'
          )
            h3
              | {{reddit.busy_statu}}
      //右侧栏
      .col-md-3
        .right_column
