.dashboard
  include ../navbar/navbar
  //导航栏
  #toggle.button-container(ng-click='opendNav()')
    span(ng-class='{top_active:topactive}')
    span(ng-class='{middle_active:middleactive}')
    span(ng-class='{bottom_active:bottomactive}')
  #overlay(ng-class='{overlay:onclose,overlay_open:onopen}')
    nav
      ul
        li
          a Sign in
        li
          a Sign up
        li
          a Search


  //内容框架
  .container-fluid
    .row-fluid
      //左侧栏
      .col-md-2

      .col-md-6
        .left_column
          //新建tip框
          .new_tip_container
            a.user_avatar
              img(src='styles/img/avatar4.jpg')
            .new_tip_panel
              .new_tip_recommendation
                | What's your travel tips?
              .text_panel
                textarea.form-control(rows='3',placeholder='Input such as #China#Beach Wow it is so beautiful!',ng-model='content')
              .new_tip_buttons
                .btn_container
                  .btn.new_tip_photo_btn(
                  ngf-select=''
                  accept="image/*"
                  ngf-allow-dir='false'
                  ngf-multiple='true'
                  ng-model='chooseImgs'
                  )
                    img(src='styles/img/photosign.png')
                    | picture
                .btn_container
                  .btn-group
                    button.btn.dropdown-toggle(
                    data-toggle='dropdown'
                    aria-expanded='false'
                    )
                      img(src='styles/img/poundsign2.png')
                      | Tag
                      span.caret
                    ul.dropdown-menu(role='menu')
                      li
                        a.write_topic DIY topic
                      li.divider
                      li
                        a 海洋
                      li
                        a 沙漠
                      li
                        a 河流
                      li
                        a 远方
                      li
                        a 彼岸
                .btn_container.submit
                  .btn.btn-primary.new_tip_submit(
                    ng-click="upload()"
                    )
                    | Submit




          //好友tips
          .tips_container(
          infinite-scroll='reddit.nextPage()'
          infinite-scroll-disabled='reddit.busy'
          infinite-scroll-distance='3'

          )
            ul.tips_timeline(
            ng-repeat= "tip in reddit.items"
            )
              li
                time.tips_time
                  span 4/30/15
                  span 18:30
                .tips_id
                  .tips_user_avatar
                    img(ng-src="{{BaseURL}}{{tip.user.avatar}}",alt='Avatar')
                .tips_icon.tips_icon-phone
                .tips_label
                  a.tips_username
                    h5 {{tip.user.username}}
                  img.tips_image(ng-src="{{BaseURL}}{{tip.image}}")
                  p.tips_text {{tip.context}}
                  a.tips_tag( 
                  ng-repeat= "tag in tip.tag_message" 
                  )       # {{tag.tm_tag.tag_name}}
                  a.tips_tag(
                  target="_blank"
                  href="{{BaseURL}}{{tip.image}}"
                  ) 【下载原图】
                  .blank_content
                  .likes
          .loading(
          ng-show='reddit.busy'
          )
            h3
              | {{reddit.busy_statu}}
      //右侧栏
      .col-md-3
        .right_column
          .hot_topic
            .hot_topic_header hot topics
            ul.hot_topic_container
              li
                .hot_topic_single
                  | #
                  span Europe
                  | #

              li
                .hot_topic_single #Africa#
              li
                .hot_topic_single #Antactica#
              li
                .hot_topic_single #Asia#
              li
                .hot_topic_single #Europe#
              li
                .hot_topic_single #Africa#
              li
                .hot_topic_single #Antactica#
              li
                .hot_topic_single #Asia#

          br
          br
          .dashboard_weather
            .weather_header Weather
            .weather_body.fd-tile.tile-green.weather
              canvas(id='#widget1_1',width='100',height='100')
              h2 Shanghai
              div
                h1 21°C
              br
              .row.days
                .col-xs-4.day
                  h6 TUE 20°C
                .col-xs-4.day
                  h6 WED 22°C
                .col-xs-4.day
                  h6 THU 17°C