.personSetting
    .navbar(ng-include='', src="'/modules/navbar/navbar.html'")
    main.wrapper.animated.rotateIn
        h1.title {{ hello }}
        form.setting-form
            // START ACCOUNT FIELDS
            fieldset
                h2.subtitle Account
                .fields
                    p.row
                        label(for='password') new password:
                        input#password.field-medium(
                            ng-model='Inpassword'
                            type='password'
                            )
                    p.row
                        label(for='password2') repeat password:
                        input#password2.field-medium(
                            type='password'
                            )

                    p.row.pwd_info(ng-class='{err_info:pwd_err_info,success_info:pwd_success_info}') {{ pwd_info }}
                input.btn_save(
                    type='submit'
                    ng-click='saveAccount()'
                    )

            fieldset
                h2.subtitle Profile
                .fields
                    p.row
                        label(for='username')
                            | username
                            span.required *
                            | :
                        input#first-name.field-large(
                            ng-model= 'Inusername'
                            value='john'
                            )
                    .row
                        fieldset.radios
                            label.gender gender:
                            input#gender-male(
                                ng-model='Ingender'
                                type='radio'
                                name='gender'
                                value='male'
                                )
                            label(for='gender-male') male
                            input#gender-female(
                                ng-model='Ingender'
                                type='radio'
                                name='gender'
                                value='female'
                                )
                            label(for='gender-female') female
                    .row
                        label(for='city') city:
                        input#city.field-large(
                            type='text'
                            name='city'
                            ng-model='Incity'
                            )
                    .row
                        label(for='city') introduction:
                        textarea#city.field-large(
                            ng-model='Inintro'
                            type='text'
                            max='244'
                            rows='3'
                            )
                    p.row.profile_info(ng-class='{success_info:profile_success_info}') {{ profile_info }}

                input.btn_save(
                    ng-click='saveProfile()'
                    type='submit'
                    )


            fieldset
                h2.subtitle Avatar
                .fields
                    .row
                        label(for='picture') picture:
                        input#picture(type='file', name='picture')
                        p.instructions Maximum size of 700k. JPG, GIF or PNG.
                input.btn_save(type='submit', value='Save')

            .blank