.personSetting
    .navbar(ng-include='', src="'/modules/navbar/navbar.html'")
    main.wrapper.animated.rotateIn
        h1.title {{ hello }}
        form.setting-form
            // START ACCOUNT FIELDS
            fieldset
                h2.subtitle Account
                .fields
                    p.row
                        label(for='password') current password:
                        input#password.field-medium(
                            ng-model='Inpassword'
                        )
                    p.row
                        label(for='password2') new password:
                        input#password2.field-medium

                    p.row.pwd_info(ng-class='{err_info:pwd_err_info,success_info:pwd_success_info}') {{ pwd_info }}
                input.btn_save(
                    type='submit'
                    ng-click='saveAccount()'
                    )

            fieldset
                h2.subtitle Profile
                .fields
                    p.row
                        label(for='username')
                            | username
                            span.required *
                            | :
                        input#first-name.field-large
                    .row
                        fieldset.radios
                            label.gender gender:
                            input#gender-male(type='radio', name='gender', value='male')
                            label(for='gender-male') male
                            input#gender-female(type='radio', name='gender', value='female')
                            label(for='gender-female') female
                    .row
                        label(for='city') city:
                        input#city.field-large(type='text', name='city')
                    .row
                        label(for='city') introduction:
                        textarea#city.field-large(type='text',max='244',rows='3')

                input.btn_save(
                    ng-click='saveProfile()'
                    type='submit'
                    )


            fieldset
                h2.subtitle Avatar
                .fields
                    .row
                        label(for='picture') picture:
                        input#picture(type='file', name='picture')
                        p.instructions Maximum size of 700k. JPG, GIF or PNG.
                input.btn_save(type='submit', value='Save')

            .blank