.recommendationBox
    .navbar(ng-include='', src="'/modules/navbar/navbar.html'")
    button.start_btn.btn.btn-primary.btn-lg(
        type='button'
        data-toggle='modal'
        data-target='#myModal'
        ng-click='getRecommendationUsers()'
        )
        | Start your Trip!
    // Modal
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-welcome(ng-if='welcome_show')
                .modal-content
                    .modal-body
                        .gif
                        h1 {{ hello }} {{ username }}!
                        p {{ introduction }}
                    .modal-footer
                        button.btn.btn-primary(ng-click='goFollowBox()') Next

            .modal-selectFollow(ng-if='selectFollow_show')
                .modal-content
                    .modal-header
                        h1 {{ follow_introH1 }}
                        h2 {{ follow_introH2 }}
                    .modal-body
                        .container-fluid
                            .row.col-md-12
                                .col-md-3(
                                    ng-repeat='user in AllUser track by $index'
                                    )
                                    .single-user(
                                        ng-class='{single_user:!user.single_info.isfollowed,single_user_select:user.single_info.isfollowed}'
                                        )
                                        a.user_avatar
                                            img(ng-src="{{ Baseurl }}{{user.avatar}}",alt='Avatar')
                                        .user_name {{ user.username }}
                                        br
                                        .user_intro {{ user.introduction }}
                                    button.follow_btn.btn.btn-info(
                                        ng-click='user.single_info=dealFollowCheck($index,user.username,user.single_info.isfollowed,user.user_id)'
                                        ng-bind='user.single_info.button_name'
                                        )

                    .modal-footer
                        .selected_users(ng-repeat='name in selected_usernames')
                            .selected_user {{ name }}
                        //.forstudy(ng-repeat='name in [21,22,23,24,25,26]')
                        //    p(style='color:white') {{ name }}
                        //    button.btn.forstudy-btn(
                        //    value='change'
                        //    name='change_name'
                        //    )
                        //    | change
                        button.btn.btn-danger(
                            ng-click='goBuildHome()'
                            ng-class='{btn_success:is_select_all}'
                            ng-bind = 'final_btn_word'
                                    )


            .modal-buildHome(ng-if='goBuildHome_show')
                .modal-content
                    .modal-body
                        .gif
                        h1 {{ buildHomeH1 }}
                        p Just wait for a minute
