.topic


    //ÄÚÈÝ¿ò¼Ü
    .middle-sdo1
        .sdo2
            .topic_title
                a.animated.flipInY Ocean
            .middle
                .cl-mcont(
                    infinite-scroll='reddit.nextPage()'
                    infinite-scroll-disabled='reddit.busy'
                    infinite-scroll-distance='3'
                )
                    ul.topic-timeline(
                        ng-repeat='tip in reddit.items'
                    )
                        li(ng-class='{topic_right:right,topic_left:left}')
                            time.tips_time
                                span 5/10/15
                                span 18:30
                            a.tips_user_avatar
                                img(ng-src='{{ BaseURL }}{{ tip.user.avatar }}',alt='Avatar')
                            .tips_icon.tips_icon-phone
                            .tips_label
                                a.tips_username
                                    h5 {{ tip.user.username }}
                                img.tips_image(ng-src='{{ BaseURL }}{{ tip.image }}')
                                p.tips_text {{ tip.context }}
                                .tips_tag_container(
                                    ng-repeat='tag in tip.tag_message'
                                )
                                    a.tips_tag #'{{ tag.tag.tag_name }}'
                                br
                                a.tips_like
                                    span.glyphicon.glyphicon-heart-empty
                                    p 8
                .loading(
                    ng-show='reddit.busy'
                )
                    h3
                        | {{ reddit.busy_statu }}