.topic
    .navbar(ng-include='', src="'/modules/navbar/navbar.html'")
    //ï¿½ï¿½ï¿½Ý¿ï¿½ï¿?
    .middle-sdo1.animated.slideInLeft
        .sdo2
            .topic_title
                a.animated.flipInY {{ topic_name }}
            .middle
                .cl-mcont(
                infinite-scroll='topic_reddit.nextPage()'
                infinite-scroll-disabled='topic_reddit.busy'
                infinite-scroll-distance='0'
                )
                    ul.topic-timeline(
                    ng-repeat='tip in topic_reddit.items'
                    )
                        li(class='{{ tip.position }}')
                            time.tips_time
                                span {{ tip.message_date }}
                            a.tips_user_avatar
                                img(ng-src='{{baseUrl + tip.user.avatar }}',alt='Avatar')
                            .tips_icon.tips_icon-phone
                            .tips_label
                                //button.btn.btn-info
                                a.tips_username
                                    h5 {{ tip.user.username }}
                                button.btn.btn-info.btn_follow(
                                    ng-click='follow_user($index,tip.user.user_id,tip.user.isfollowed)'
                                    ng-bind='tip.follow_return.follow_btn_content'
                                    )
                                img.tips_image(ng-src='{{baseUrl + tip.image }}')
                                p.tips_text {{ tip.context }}
                                .tips_tag_container(
                                ng-repeat='tag in tip.tag_message'
                                )
                                    a.tips_tag # {{ tag.tm_tag.tag_name }}
                                br
                                a.tips_like
                                    button.tips_like_btn(
                                        ng-click='like_tips($index,tip.message_id,tip.like_count)'
                                        )
                                        img.like_icon(src='{{ tip.like_return.like_btn_url }}')
                                    p(
                                        ng-bind='tip.like_return.like_count'
                                        )
                .loading(
                ng-show='topic_reddit.busy'
                )
                    h3
                        | {{ topic_reddit.busy_statu }}